@using Recipebook.Models
@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="card">
    <div class="card-body">
        <nav class="nav flex-column nav-pills nav-gap-y-1">
            <a asp-page="./Index" id="profile" class="@ManageNavPages.IndexNavClass(ViewContext) nav-link ">
                <i class="far fa-user fa-fw fa-lg mr-2"></i>Informacje o profilu
            </a>
            <a asp-page="./Email" id="email" class="@ManageNavPages.EmailNavClass(ViewContext) nav-item nav-link ">
                <i class="far fa-envelope fa-fw fa-lg mr-2"></i>Email
            </a>
            <a asp-page="./ChangePassword" id="change-password" class="@ManageNavPages.ChangePasswordNavClass(ViewContext) nav-link">
                <i class="fas fa-lock fa-fw fa-lg mr-2"></i>Bezpieczeństwo
            </a>
        </nav>
    </div>
</div>

@{
    <style>
        
        a{
            color: black;
        }
        a:hover{
            color: black;
        }
        .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
            color: white !important;
            background-color: black !important;
            border-color: black !important;
        }
       
    </style>
    
}