@using Recipebook.ViewModel
@model RecipeVM

@{
    ViewData["Title"] = "Dodaj przepis";
}

<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <h4 class="mb-3">Dodaj przepis</h4>
                    <form asp-action="Add" method="post" enctype="multipart/form-data" >
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Nazwa przepisu</label>
                                <input asp-for="Name" class="form-control" placeholder="" value="" required>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Kategoria     
                                    <i class="fa-solid fa-circle-info has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Można dodać więcej niż 1 kategorię"></i>
                                    </label>
                                <select multiple id="categories-select" asp-for="SelectedCategoriesIds" class="form-control" asp-items=@Model.CategoriesList></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Czas przygotowania</label>
                                <input type="number" asp-for="PreparationTime" class="form-control" placeholder="" value="" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Ilość porcji</label>
                                <input type="text" asp-for="Yields" class="form-control" id="lastName" placeholder="" value="" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="firstName">Opis przepisu</label>
                                <textarea class="form-control" aria-label="With textarea" asp-for="Description" rows="10"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="firstName">Składniki     
                                    <i class="fa-solid fa-circle-info has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Aby dodać pojedynczy składnik po jego wpisaniu należy wcisąć klawisz Enter"></i>
                                    </label>
                                <select multiple id="tags-input" type="text" asp-for="Ingredients" class="form-control"></select>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="firstName">Sposób przygotowani     
                                    <i class="fa-solid fa-circle-info has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Aby podzielić przepis na korki po każdym kroku należy wcisnąć 2 razy klawisz Enter"></i>
                                    </label>
                                <textarea class="form-control" aria-label="With textarea" asp-for="Directions" rows="10"></textarea>
                                <span asp-validation-for="Directions" class="text-danger"></span>
                            </div>
                        </div>
                        <label for="exampleFormControlFile1">Wybierz zdjęcia</label>
                        <input asp-for="Files" class="form-control-file" id="exampleFormControlFile1" type="file" multiple/>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Dodaj przepis</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
    
        $('#tags-input').tagsinput({
          confirmKeys: [13],
          allowDuplicates: true,
          delimiterRegex: /[;]+/
        });
        
        $(document).ready(function () {
            $('#categories-select').selectpicker({
                noneSelectedText: 'Wybierz kategorie',
                liveSearch: true,
                size: 5
            });
        });
        
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    
    </script>
}

@section Styles
    {
    <style>
    /* bootstrap-tagsinput.css file - add in local */

        .bootstrap-tagsinput input {
          width: 100%;
          margin-bottom: 4px;
        }
        .bootstrap-tagsinput .tag {
          margin-right: 2px;
          font-size: 1.1rem;
          color: white;
        }
        .bootstrap-tagsinput .tag [data-role="remove"] {
          margin-left: 8px;
          cursor: pointer;
        }
        .bootstrap-tagsinput .tag [data-role="remove"]:after {
          content: "x";
          padding: 0px 2px;
        }

    </style>
}
