@page
@model LoginModel

@{
    ViewData["Title"] = "Logowanie";
}

<div class="container h-100">
<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-12 col-xl-11">
    <div class="card text-black" style="border-radius: 25px;">
        <div class="card-body p-md-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-1">

            <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">

            </div>
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-2">
            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Logowanie</p>
            <div asp-validation-summary="All" class="text-danger"></div>
            <form id="account" method="post">
                <!-- Email input -->
                <div class="form-outline mb-4 input-group">
                <div class="input-group-prepend"></div>
                <span class="input-group-text"><i class="fas fa-envelope fa-lg me-3 fa-fw"></i></span>
                <input asp-for="Input.Email" type="email" class="form-control form-control-lg" placeholder="Adres email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4 input-group">
                    <div class="input-group-prepend"></div>
                    <span class="input-group-text"><i class="fas fa-lock fa-lg me-3 fa-fw"></i></span>
                <input asp-for="Input.Password" type="password" class="form-control form-control-lg" placeholder="Hasło" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-around align-items-center mb-4">
                <!-- Checkbox -->
                <div class="form-check">
                    <input asp-for="Input.RememberMe" class="form-check-input" type="checkbox" />
                    <label class="form-check-label">Zapamiętaj mnie</label>
                </div>
                <a id="forgot-password" asp-page="./ForgotPassword">Nie pamiętasz hasła?</a>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block">Zaloguj</button>

                <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0 text-muted">LUB</p>
                </div>

                <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" role="button">Zarejestruj się </a>
            </form>

            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


