@using Microsoft.AspNetCore.Identity
@using Recipebook.Interfaces
@using Recipebook.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUserService _userService
<ul class="navbar-nav align-items-center">
    <li class="nav-item">
        <div class="input-group width">
            <form class="d-flex" asp-controller="Home" asp-action="IndexSearch" method="get">
                <input name="Search" class="form-control py-2" type="text" placeholder="Wyszukaj przepisu..." id="search">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </form>
        </div>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <div class="dropdown show d-flex align-items-center">
                <img
                    id="user-image"
                    class="rounded-circle shadow-1-strong user-avatar"
                    src="@(await _userService.GetAvatar(await UserManager.GetUserAsync(User)))"
                    alt="avatar"
                    width="30"
                    height="30"
                    style="border: solid; border-color: white; border-width: 1px"/>
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                <div class="dropdown-menu menu-cls" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item drop-cls" asp-area="Identity" asp-page="/Account/Manage/Index">Informacje o profilu</a>
                    <a class="dropdown-item drop-cls" asp-area="Identity" asp-page="/Account/Manage/Email">Email</a>
                    <a class="dropdown-item drop-cls" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Bezpieczeństwo</a>
                </div>
            </div>
        </li>
        <li class="nav-item item-cls">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                <button type="submit" class="nav-link btn btn-link link-cls">Wyloguj</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item item-cls">
            <a class="nav-link link-cls" asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
        </li>
        <li class="nav-item item-cls">
            <a class="nav-link link-cls" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
        </li>
    }
</ul>

@{
    <style>
        
        .user-image{
            object-fit: cover;
        }
        .link-cls{
            color: white !important;
        }
        .item-cls{
            border-radius: 5px;
        }
        .item-cls:hover{
            background-color: white !important;
        }
        .link-cls:hover{
            color: black !important;
        }
        .drop-cls:hover{
            color: white !important;
            background-color: black !important;
        }
        .width{
            min-width: 300px;
        }
       
    </style>

}